include ../field/field
include ../input/input

include ../button/button

//- dropdown types:
//- - item-quantity
//- - item-quantity-applied

//- If types === item-quantity
//- items:
//- [
//-   {
//-     nameForms, // array of forms
//-     quantity
//-   }
//- ]

mixin dropdown(meta, items)
  .dropdown
    .iqdropdown(data-meta=meta data-items=items)
      p.iqdropdown-selection
      .iqdropdown-menu
        each item, index in items
          .iqdropdown-menu-option(data-id=index data-defaultcount=item.quantity)
            div
              p.iqdropdown-item= item.name
        if meta.type === 'item-quantity-applied'
          +button('string', 'очистить')
          +button('primary-string', 'применить')


