include ../field/field
include ../input/input

//- dropdown types:
//- - item-quantity
//- - item-quantity-applied

//- If types === item-quantity
//- items:
//- [
//-   {
//-     nameForms, // array of forms
//-     quantity
//-   }
//- ]

mixin dropdown(dropdownType, items)
  .dropdown
    .iqdropdown(data-type=dropdownType data-items=items)
      p.iqdropdown-selection
      .iqdropdown-menu
        each item, index in items
          .iqdropdown-menu-option(data-id=index data-defaultcount=item.quantity)
            div
              p.iqdropdown-item= item.nameForms[1]

