include ../button/button

//- dropdown types:
//- - item-quantity
//- - item-quantity-applied

//- If types === item-quantity
//- items:
//- [
//-   {
//-     name,
//-     nameForms, // array of forms
//-     quantity
//-   }
//- ]

mixin dropdown(meta, items)
  .dropdown(class!=attributes.class)
    .dropdown__info
      h3.dropdown__name= meta.name
      if meta.uiKitMode
        p.dropdown__uikit-state= meta.open ? 'expanded' : 'default'
    .dropdown__container(class=(meta.type === 'item-quantity-applied' ? 'dropdown__container_applied' : '') data-meta=meta data-items=items)
      .dropdown__selection
        p.dropdown__selection-text
      .dropdown__menu(class=meta.open ? '' : 'dropdown__menu_hide')
        .dropdown__options
          each item, index in items
            .dropdown__option(data-id=index)
              h3.dropdown__item-name= item.name
              .dropdown__control
                button.dropdown__button.dropdown__decrement-button -
                .dropdown__quantity= item.quantity
                button.dropdown__button.dropdown__increment-button +
        if meta.type === 'item-quantity-applied'      
          .dropdown__menu-buttons
            +button('secondary-string', 'очистить')(
              class='dropdown__clear-button'
            )
            +button('primary-string', 'применить')(
              class='dropdown__apply-button'
            )