extends /layout/app-base/app-base

include /layout/header/header
include /layout/booking-card/booking-card
include /layout/footer/footer

include /components/features/features
include /components/comment/comment
include /components/bullet-list/bullet-list
include /components/text/text
include /components/pie-chart/pie-chart
include /components/subtitle/subtitle

block head
  title Room details
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet")

block body
  - const { header, pieChart, features, comments, rules, bookingCard, complexFooter } = require('./room-details.json') 
  - const plural = require('plural-ru')

  .room-details
    +header(header)
    .room-details__gallery
      img.room-details__gallery-image.room-details__gallery-image_main(src=require('@uploads/room-details-1.png').default)
      img.room-details__gallery-image.room-details__gallery-image_secondary(src=require('@uploads/room-details-2.png').default)
      img.room-details__gallery-image.room-details__gallery-image_secondary(src=require('@uploads/room-details-3.png').default)
    .room-details__details
      .room-details__content
        .room-details__features
          +subtitle.room-details__subtitle Сведения о номере
          +features(features)
        .room-details__impressions
          +subtitle.room-details__subtitle Впечатления от номера
          +pie-chart(pieChart.data, pieChart.nameForms).js-room-details__pie-chart
        .room-details__comments
          header.room-details__comments-header
            +subtitle.room-details__subtitle Отзывы посетителей номера
            +text.room-details__reviews-number #{`${comments.length} ${plural(comments.length, 'отзыв', 'отзыва', 'отзывов')}`}
          each comment in comments 
            +comment(comment).room-details__comment
        .room-details__rules
          +subtitle.room-details__subtitle.room-details__subtitle_padded Правила
          +bullet-list(rules)
        .room-details__cancel
          +subtitle.room-details__subtitle Отмена
          +text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.  
      +booking-card(bookingCard).room-details__booking-card.js-room-details__booking-card
    +footer(complexFooter).room-details__footer



