include ../toggle/toggle

mixin toggle-group({ title, toggles })
  .toggle-group
    h3.toggle-group__title= title
    .toggle-group__toggles
      each toggle in toggles
        +toggle(toggle.content)(
          class='toggle-group__toggle'
          checked=toggle.isChecked
          value=value
          name=name
        )

