mixin input({ size= 'long', icon_name= '', is_icon_colored= false, is_masked= false, ui_kit_is_active= false })
  -
    let prefix = 'input__field_'
    let size_classes = {
      long: `${prefix}long`,
      medium: `${prefix}medium`,
      short: `${prefix}short`
    }

  .input
    input.input__field(class= size_classes[size]
                       class= ui_kit_is_active ? `${prefix}active`: '')&attributes(attributes)
    i.input__icon(class= 'material-icons', 
                  class= is_icon_colored ? 'input__icon_colored' : '')= icon_name