extends /layout/base/base

include /components/text-field/text-field
include /components/dropdown/dropdown
include /components/range-slider/range-slider
include /components/button/button
include /components/rating/rating
include /components/toggle/toggle
include /components/button/button
include /components/like-button/like-button
include /components/checkbox-list/checkbox-list
include /components/radio/radio
include /components/pagination/pagination
include /components/bullet-list/bullet-list
include /components/features/features
include /components/comment/comment
include /components/date-dropdown/date-dropdown

include /components/checkbox/checkbox

block head
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  title Form elements

block body
  - 
    const { 
      expandableCheckboxListExpanded,
      expandableCheckboxListClosed,
      guestsDropdownOpenedFilled,
      guestsDropdownOpenedEmpty,
      guestsDropdownClosedEmpty,
      expandableCheckboxList,
      subscriptionTextField,
      roomsDropdownClosed,
      roomsDropdownOpened,
      filterDateDropdown,
      defaultTextField,
      focusedTextField,
      richCheckboxList,
      maskedTextField,
      guestsDropdown,
      dateDropdown,
      checkboxList,
      rangeSlider,
      buttonList,
      pagination,
      bulletList,
      ratingList,
      features,
      toggles,
      comment,
      radio,
      likes  
    } = require('./form-elements.json')

  .form-elements
    .form-elements__elements-container
      .form-elements__element.form-elements__element_small-bottom-margin
        +text-field(defaultTextField)(
          placeholder=defaultTextField.placeholder
        )

      .form-elements__element.form-elements__element_small-bottom-margin
        +text-field(focusedTextField)(
          value=focusedTextField.value
          autofocus=focusedTextField.autofocus
        )


      .form-elements__element.form-elements__element_small-bottom-margin
        +dropdown(guestsDropdownClosedEmpty.meta, guestsDropdownClosedEmpty.items)

      .form-elements__element.form-elements__element_big-bottom-margin
        +text-field(maskedTextField)(
          placeholder=maskedTextField.placeholder
        )

      .form-elements__element.form-elements__element_big-bottom-margin
        +date-dropdown(dateDropdown.startLabel, dateDropdown.endLabel)(
          placeholder=dateDropdown.placeholder
        )

      .form-elements__element.form-elements__element_big-bottom-margin
        +date-dropdown(filterDateDropdown.label)(
          placeholder=filterDateDropdown.placeholder
        )

      .form-elements__element.form-elements__element_1-2-rows-gap
        +text-field(subscriptionTextField)(
          placeholder=subscriptionTextField.placeholder
        )

    .form-elements__elements-container
      .form-elements__element.form-elements__element_big-bottom-margin
        +checkbox-list(checkboxList.title, checkboxList.checkboxes, checkboxList.expanded)

      .form-elements__element.form-elements__element_big-bottom-margin
        h3.form-elements__label radio buttons
        +radio(radio.name, radio.buttons, radio.checked)(
          class='form-elements__radio'
        )

      .form-elements__element.form-elements__element_big-bottom-margin
        h3.form-elements__label toggle
        each toggle in toggles
          +toggle(toggle.content)(
            class='form-elements__toggle'
            checked=toggle.checked
          )

      .form-elements__element.form-elements__element_big-bottom-margin
        h3.form-elements__label like button
        each like in likes
          +like-button(like.likesNumber, like.liked)(
            class='form-elements__like-button'
          )

      .form-elements__element
        h3.form-elements__label rate button
        each rating in ratingList
          +rating(rating)(
            class='form-elements__rating'
          )

    .form-elements__elements-container
      .form-elements__element.form-elements__element_big-bottom-margin
        +range-slider(rangeSlider)

      .form-elements__element.form-elements__element_big-bottom-margin
        h3.form-elements__label buttons
        each button in buttonList
          +button(button.type, button.content, button.hovered)(
            class='form-elements__button'
          )

      .form-elements__element
        h3.form-elements__label pagination
        +pagination(pagination.description, pagination.testMode)

    .form-elements__elements-container
      .form-elements__element.form-elements__element_small-bottom-margin
        +dropdown(roomsDropdownClosed.meta, roomsDropdownClosed.items)

      .form-elements__element
        +dropdown(roomsDropdownOpened.meta, roomsDropdownOpened.items)

    .form-elements__elements-container
      .form-elements__element
        +dropdown(guestsDropdownOpenedEmpty.meta, guestsDropdownOpenedEmpty.items)

    .form-elements__elements-container
      .form-elements__element
        +dropdown(guestsDropdownOpenedFilled.meta, guestsDropdownOpenedFilled.items)

    .form-elements__elements-container
      .form-elements__element
        +checkbox-list(expandableCheckboxListClosed.title, expandableCheckboxListClosed.checkboxes, expandableCheckboxListClosed.expanded)

      .form-elements__element.form-elements__element_2-3-row-gap
        +checkbox-list(expandableCheckboxListExpanded.title, expandableCheckboxListExpanded.checkboxes, expandableCheckboxListExpanded.expanded)

    .form-elements__elements-container
      .form-elements__element.form-elements__element_small-top-margin
        +checkbox-list(richCheckboxList.title, richCheckboxList.checkboxes)

    .form-elements__elements-container
      .form-elements__element.form-elements__element_small-top-margin
        +bullet-list(bulletList.items, bulletList.name)

    .form-elements__elements-container
      .form-elements__element
        +features(features)

    .form-elements__elements-container_double-spaced
      .form-elements__element
        +comment(comment)





