extends ../../layout/base

include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/rating/rating
include ../../components/toggle/toggle
include ../../components/button/button
include ../../components/like-button/like-button
include ../../components/checkbox-list/checkbox-list
include ../../components/radio/radio
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list
include ../../components/features/features
include ../../components/comment/comment

include ../../components/checkbox/checkbox

block head
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  title Form elements

block body
  - const settings = require('./form-elements.json')

  +text-field(settings.defaultTextField)(
    placeholder=settings.defaultTextField.placeholder
  )
  +text-field(settings.focusedTextField)(
    value=settings.focusedTextField.value
    autofocus=settings.focusedTextField.autofocus
  )
  //- +dropdown()
  +text-field(settings.maskedTextField)(
    placeholder=settings.maskedTextField.placeholder
  )
  //- +dropdown(settings.multifieldDateDropdown)
  //- +dropdown(settings.singlefieldDateDropdown)
  +text-field(settings.subscriptionTextField)(
    placeholder=settings.subscriptionTextField.placeholder
  )
  +checkbox-list(settings.checkboxList.title, settings.checkboxList.checkboxes, settings.checkboxList.expanded)
  +radio(settings.radio.name, settings.radio.buttons, settings.radio.checked)

  each toggle in settings.toggles
    +toggle(toggle.content)(
      checked=toggle.checked
    )

  each like in settings.likes
    +like-button(like.likesNumber, like.liked)

  each rating in settings.ratingList
    +rating(rating)

  +range-slider(settings.rangeSlider)

  each button in settings.buttonList
    +button(button.type, button.content)(
      disabled=button.disabled
    )

  +pagination(settings.pagination.description, settings.pagination.testMode)
  +dropdown(settings.roomsDropdown.meta, settings.roomsDropdown.items)
  +dropdown(settings.guestsDropdown.meta, settings.guestsDropdown.items)
  +checkbox-list(settings.richCheckboxList.title, settings.richCheckboxList.checkboxes)
  +checkbox-list(settings.expandableCheckboxList.title, settings.expandableCheckboxList.checkboxes, settings.expandableCheckboxList.expanded)
  +bullet-list(settings.bulletList.items, settings.bulletList.name)
  +features(settings.features)
  +comment(settings.comment)