extends ../../layout/base

include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/rating/rating
include ../../components/toggle/toggle
include ../../components/button/button
include ../../components/like-button/like-button
include ../../components/checkbox-list/checkbox-list
include ../../components/radio/radio
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list
include ../../components/features/features
include ../../components/comment/comment

include ../../components/checkbox/checkbox

block head
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  title Form elements

block body
  - 
    const { 
      expandableCheckboxList,
      subscriptionTextField,
      defaultTextField,
      focusedTextField,
      richCheckboxList,
      maskedTextField,
      guestsDropdown,
      roomsDropdown,
      checkboxList,
      rangeSlider,
      buttonList,
      pagination,
      bulletList,
      ratingList,
      features,
      toggles,
      comment,
      radio,
      likes  
    } = require('./form-elements.json')

  +text-field(defaultTextField)(
    placeholder=defaultTextField.placeholder
  )

  +text-field(focusedTextField)(
    value=focusedTextField.value
    autofocus=focusedTextField.autofocus
  )

  +text-field(maskedTextField)(
    placeholder=maskedTextField.placeholder
  )

  +text-field(subscriptionTextField)(
    placeholder=subscriptionTextField.placeholder
  )

  +checkbox-list(checkboxList.title, checkboxList.checkboxes, checkboxList.expanded)

  +radio(radio.name, radio.buttons, radio.checked)

  each toggle in toggles
    +toggle(toggle.content)(
      checked=toggle.checked
    )

  each like in likes
    +like-button(like.likesNumber, like.liked)

  each rating in ratingList
    +rating(rating)

  +range-slider(rangeSlider)

  each button in buttonList
    +button(button.type, button.content)(
      disabled=button.disabled
    )

  +pagination(pagination.description, pagination.testMode)

  +dropdown(roomsDropdown.meta, roomsDropdown.items)

  +dropdown(guestsDropdown.meta, guestsDropdown.items)

  +checkbox-list(richCheckboxList.title, richCheckboxList.checkboxes)

  +checkbox-list(expandableCheckboxList.title, expandableCheckboxList.checkboxes, expandableCheckboxList.expanded)

  +bullet-list(bulletList.items, bulletList.name)

  +features(features)

  +comment(comment)