extends /layout/base/base

include /components/label/label
include /components/text-field/text-field
include /components/dropdown/dropdown
include /components/range-slider/range-slider
include /components/button/button
include /components/rating/rating
include /components/toggle/toggle
include /components/button/button
include /components/like-button/like-button
include /components/checkbox-list/checkbox-list
include /components/radio/radio
include /components/pagination/pagination
include /components/bullet-list/bullet-list
include /components/features/features
include /components/comment/comment
include /components/date-dropdown/date-dropdown

include /components/checkbox/checkbox

block head
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  title Form elements

block body
  - 
    const { 
      expandableCheckboxListExpanded,
      expandableCheckboxListClosed,
      guestsDropdownOpenedFilled,
      guestsDropdownOpenedEmpty,
      guestsDropdownClosedEmpty,
      expandableCheckboxList,
      subscriptionTextField,
      roomsDropdownClosed,
      roomsDropdownOpened,
      filterDateDropdown,
      defaultTextField,
      focusedTextField,
      richCheckboxList,
      maskedTextField,
      guestsDropdown,
      dateDropdown,
      checkboxList,
      rangeSlider,
      button,
      pagination,
      bulletList,
      rating,
      features,
      toggle,
      comment,
      radio,
      like
    } = require('./form-elements.json')

  .form-elements
    .form-elements__elements-container
      .form-elements__element.form-elements__element_small-bottom-margin
        +text-field(defaultTextField)(
          placeholder=defaultTextField.placeholder
        )

      .form-elements__element.form-elements__element_small-bottom-margin
        +text-field(focusedTextField)(
          value=focusedTextField.value
          autofocus=focusedTextField.autofocus
        )

      .form-elements__element.form-elements__element_small-bottom-margin
        +dropdown(guestsDropdownClosedEmpty.meta, guestsDropdownClosedEmpty.items)

      .form-elements__element.form-elements__element_big-bottom-margin
        +text-field(maskedTextField)(
          placeholder=maskedTextField.placeholder
        )

      .form-elements__element.form-elements__element_big-bottom-margin
        +date-dropdown(dateDropdown.startLabel, dateDropdown.endLabel)(
          placeholder=dateDropdown.placeholder
        )

      .form-elements__element.form-elements__element_big-bottom-margin
        +date-dropdown(filterDateDropdown.label)(
          placeholder=filterDateDropdown.placeholder
        )

      .form-elements__element.form-elements__element_1-2-rows-gap
        +text-field(subscriptionTextField)(
          placeholder=subscriptionTextField.placeholder
        )

    .form-elements__elements-container
      .form-elements__element.form-elements__element_big-bottom-margin
        +checkbox-list(checkboxList.title, checkboxList.checkboxes, checkboxList.expanded)

      .form-elements__element.form-elements__element_big-bottom-margin
        +label.form-elements__label= radio.title
        +radio(radio.name, radio.buttons, radio.checked).form-elements__radio

      .form-elements__element.form-elements__element_big-bottom-margin
        +label.form-elements__label= toggle.title
        each toggleBtn in toggle.items
          +toggle(toggleBtn.content)(checked=toggleBtn.checked).form-elements__toggle

      .form-elements__element.form-elements__element_big-bottom-margin
        +label.form-elements__label= like.title
        each likeBtn in like.items
          +like-button(likeBtn.liked).form-elements__like-button= likeBtn.likesNumber

      .form-elements__element
        +label.form-elements__label= rating.title
        each rate in rating.items
          +rating(rate).form-elements__rating

    .form-elements__elements-container
      .form-elements__element.form-elements__element_big-bottom-margin
        +range-slider(rangeSlider)

      .form-elements__element.form-elements__element_big-bottom-margin
        +label.form-elements__label= button.title
        each btn in button.items
          +button(btn.type, btn.hovered).form-elements__button= btn.content

      .form-elements__element
        +label.form-elements__label= pagination.title
        +pagination(pagination.description, pagination.testMode)

    .form-elements__elements-container
      .form-elements__element.form-elements__element_small-bottom-margin
        +dropdown(roomsDropdownClosed.meta, roomsDropdownClosed.items)

      .form-elements__element
        +dropdown(roomsDropdownOpened.meta, roomsDropdownOpened.items)

    .form-elements__elements-container
      .form-elements__element
        +dropdown(guestsDropdownOpenedEmpty.meta, guestsDropdownOpenedEmpty.items)

    .form-elements__elements-container
      .form-elements__element
        +dropdown(guestsDropdownOpenedFilled.meta, guestsDropdownOpenedFilled.items)

    .form-elements__elements-container
      .form-elements__element
        +checkbox-list(expandableCheckboxListClosed.title, expandableCheckboxListClosed.checkboxes, expandableCheckboxListClosed.expanded)

      .form-elements__element.form-elements__element_2-3-row-gap
        +checkbox-list(expandableCheckboxListExpanded.title, expandableCheckboxListExpanded.checkboxes, expandableCheckboxListExpanded.expanded)

    .form-elements__elements-container
      .form-elements__element.form-elements__element_small-top-margin
        +checkbox-list(richCheckboxList.title, richCheckboxList.checkboxes)

    .form-elements__elements-container
      .form-elements__element.form-elements__element_small-top-margin
        +label.form-elements__label= bulletList.name
        +bullet-list(bulletList.items)

    .form-elements__elements-container
      .form-elements__element
        +features(features)

    .form-elements__elements-container_double-spaced
      .form-elements__element
        +comment(comment)





