mixin field({ label, id, size, placeholder, ui_kit_isActive = false, ui_kit_state })
  - 
    var prefix = 'field__'
    var size_classes = {
      long: `${prefix}long`,
      medium: `${prefix}medium`,
      short: `${prefix}short`
    }

  .field(class= size_classes[size])
    .field_info
      label.field_name(for= id)= label
      .field_state= ui_kit_state
    input.field_input(class= ui_kit_isActive ? 'field_input__active' : '' type='text' id= id placeholder= placeholder)