mixin checkbox(text, description)
  label.checkbox(class!=attributes.class)
    input.checkbox__button(type='checkbox')(
      id!=attributes.id
      name!=attributes.name
      value!=attributes.value
      checked!=attributes.checked
    )
    .checkbox__content
      p.checkbox__text(class=description && 'checkbox__text_bold')= text
      if description
        p.checkbox__description= description