include /components/text-field/text-field
include /components/radio/radio
include /components/toggle/toggle
include /components/button/button

mixin registration-card
  -
    const {
      title,
      firstNameInput,
      lastNameInput,
      sexRadioButtons,
      birthdayInput,
      loginDataEmailInput,
      loginDataPasswordInput,
      specialOffersToggle,
      nextStepButton,
      login
    } = require('@layout/registration-card/registration-card.json')

  .registration-card
    h1.registration-card__title= title
    form.registration-card__form
      .registration-card__input-block
        +text-field({})(
          placeholder=firstNameInput.placeholder
        ).registration-card__input
        +text-field({})(
          placeholder=lastNameInput.placeholder
        ).registration-card__input
        +radio(sexRadioButtons.name, sexRadioButtons.buttons, sexRadioButtons.checked).registration-card__radio

      .registration-card__input-block
        +text-field(birthdayInput)(
          placeholder=birthdayInput.placeholder
        )

      .registration-card__input-block
        +text-field(loginDataEmailInput)(
          placeholder=loginDataEmailInput.placeholder
        ).registration-card__input
        +text-field({})(
          placeholder=loginDataPasswordInput.placeholder
        ).registration-card__input
        +toggle(specialOffersToggle.content)

      +button(nextStepButton.type).registration-card__button= nextStepButton.content
      .registration-card__login
        span.registration-card__login-text= login.text
        +button(login.button.type)= login.button.content

